<html>
    <head>
    <title>Let's create a website</title>
    <h1>Our blog list</h1>>
    </head>
<body>
    <p>Hi, I'm akanksha pursuing B.tech from srmcem</p>
    <p>Wow!, It worked.It</p>
    <ul>
        <p>hi, its very tasty to use the django toffy</p>
        <em>Hakuna matata</em><p>means Noooo,<br>wooolaaa Worry</p>
    </ul>
    <div>
        <p>published: 04.06.2020</p>
        <h2><a href="">My first post</a></h2>
        <p>today, Im bery happy to create a new first blog, It help me alot to improve myself for creating such a new life into django</p>
    </div> 
    <div>
        <p>published: 04.06.2020</p>
        <h2><a href="">My second post: how to create a website</a></h2>
        <p>A lot of folks think that if you want to design a great website, you need to be some Silicon Valley whizz-kid or have state-of-the-art tools.<br> The good news? That’s total garbage.

            That said, you will need to know a thing or two about web design. After all, it’s important – so much so that 38% of visitors will leave a website if they find the layout unattractive.
            
            You can think of web design like selling a car – it could have the most incredible engine, but if the chassis is hideous, people won’t be interested in buying it.
            
            Here at Website Builder Expert, we know a thing or two about designing websites. <br>So to help you out, we’ve put together this simple, easy to follow, eight step guide. For a quick overview, here’s what we’ll be covering:</p>
    </div>
</body>   
</html>
